In [155]:
import pandas as pd 
from googleplaces import GooglePlaces, types, lang
import config

In [159]:
df = pd.read_csv("/Users/tonypark/Desktop/machine-learning-housing-project/communal/Ames_Housing_Price_Data_cleaned_2.csv")
pd.set_option('display.max_columns', None)

In [160]:
locations = df[["lat", "long", "Short_hand", "Neighborhood_x", "Prop_Addr", "distToUni"]]

In [162]:
API_KEY = config.API_KEY
google_places = GooglePlaces(API_KEY)

In [163]:
locations

,lat,long,Short_hand,Neighborhood_x,Prop_Addr,distToUni
0,42.017899,-93.651731,SWISU,SWISU,436 HAYWARD AVE,0.66
1,42.023035,-93.673386,Edwards,Edwards,3416 WEST ST,1.39
2,42.023035,-93.673386,Edwards,Edwards,3416 WEST ST,1.39
3,42.021605,-93.615604,IDOTRR,IDOTRR,320 S 2ND ST,1.64
4,42.033237,-93.617133,OldTown,OldTown,1524 DOUGLAS AVE,1.59
...,...,...,...,...,...,...
2619,42.028240,-93.629960,BrkSide,BrkSide,1021 RIDGEWOOD AVE,0.87
2620,42.023035,-93.673386,Edwards,Edwards,3619 MARY CIR,1.39
2621,42.028112,-93.607153,Crawfor,Crawfor,2140 SUNSET DR 2142,2.04
2622,42.021328,-93.685522,CollgCr,CollgCr,5319 CLEMENS BLVD,2.03
2623,42.034612,-93.683248,SawyerW,SawyerW,1025 VERMONT CT,1.95

In [126]:
query_result_2 = google_places.nearby_search(
    location='Ames Iowa', 
    radius=10000,
    keyword = "Downtown Ames"

)

In [144]:
query_result_2.places[0]

SyntaxError: invalid syntax (753208142.py, line 2)

In [70]:
#takes in a string of category (i.e. "school", "restaruant", etc)
#return a list of places for the category
def grab_nearby(category):
    
    #import packages
    import pandas as pd 
    from googleplaces import GooglePlaces, types, lang
    
    #empty result list
    result = []
    
    #append resulting query to result list
    search_result = google_places.nearby_search(
        location = "Aimes Iowa", 
        radius = 10000, 
        keyword = category)
    
    result.append(search_result.places)
    
    #the query returns frist 20 results, iterate through next page token for rest of results 
    while search_result.has_next_page_token:
        search_result = google_places.nearby_search(
            location = "Aimes Iowa",
            radius = 1000,
            keyword = category,
            pagetoken=search_result.pagetoken #add the token for the next page
        )
        result.append(search_result.places)
        
    return result

[<Place name="Ames", lat=42.0307812, lng=-93.63191309999999>,
 <Place name="Best Western Plus University Park Inn & Suites", lat=42.0002899, lng=-93.63842009999999>,
 <Place name="Holiday Inn Express & Suites Ames, an IHG Hotel", lat=42.033796, lng=-93.57853200000001>,
 <Place name="Hilton Garden Inn Ames", lat=42.0107265, lng=-93.68320849999999>,
 <Place name="Jack Trice Stadium", lat=42.0139639, lng=-93.63593059999999>,
 <Place name="American Eagle Store", lat=42.049148, lng=-93.622564>,
 <Place name="Country Inn & Suites by Radisson, Ames, IA", lat=42.0088318, lng=-93.5778952>,
 <Place name="Gateway Hotel and Conference Center", lat=42.00102099999999, lng=-93.642798>,
 <Place name="Department of Statistics", lat=42.0284915, lng=-93.64974359999999>,
 <Place name="Ames High School", lat=42.0404553, lng=-93.6349486>,
 <Place name="Ia RC Repair", lat=42.02338909999999, lng=-93.62553609999999>,
 <Place name="Iowa State University", lat=42.0266573, lng=-93.64645159999999>,
 <Place name="Hilton Coliseum", lat=42.02117139999999, lng=-93.63486929999999>,
 <Place name="Best Buy", lat=42.011413, lng=-93.608092>,
 <Place name="Fairfield Inn & Suites by Marriott Ames", lat=42.0088816, lng=-93.58344470000002>,
 <Place name="Microtel Inn & Suites by Wyndham Ames", lat=42.0077738, lng=-93.58312789999999>,
 <Place name="Hickory Park", lat=42.0100747, lng=-93.60967099999999>,
 <Place name="The Cafe", lat=42.04866940000001, lng=-93.64373329999999>,
 <Place name="Jimmy John's", lat=42.0493019, lng=-93.6227301>,
 <Place name="Gilbert", lat=42.1069288, lng=-93.64966280000002>]

In [49]:
query_result.next_page_token

'Aap_uECF_j1dGZhYtRzrfon61IMQUwFYtM4vOVljWKuo1fm4FJG0BaUd56RQuUtvrjNiT6yyeau4W5QWy2-gxoZ-m-La4GJlW6-heQp2IdZJgpM20zopjLDTrZzIpn4VaZ7zkfmrINDw9WUAvl9iYi6VCYMxD_DiAB95PktIaPLBHfhXh1O8X5gWC_QpwAGr5_ReXpx0a-pHKtk-4mCpjGxrflTdNJl337Yono2LKlblzeOHeJ77jtYS7Fxg1F7D9m9aUW9NMs5sj4IqQWgzArRWl9fp4Z1Q3jAWrxaH44ucAaU6VtJK7m_-uZFZ6Aj0Wzgawqm4O1yCr71TxhJaH3IluJt-eeY_QId1NsnzEI5IKQWATqxTttFXI2fmJig4bIi_pkgX6VNv-7FVQjJqgGIREivrOBC7XtBZ8i8iT3IOshGCGrOe_00Pjbv6SA'

In [46]:
query_result.places[0].get_details

In [33]:
locations

            lat       long Short_hand Neighborhood_x            Prop_Addr
0     42.017899 -93.651731      SWISU          SWISU      436 HAYWARD AVE
1     42.023035 -93.673386    Edwards        Edwards         3416 WEST ST
2     42.023035 -93.673386    Edwards        Edwards         3416 WEST ST
3     42.021605 -93.615604     IDOTRR         IDOTRR         320 S 2ND ST
4     42.033237 -93.617133    OldTown        OldTown     1524 DOUGLAS AVE
...         ...        ...        ...            ...                  ...
2619  42.028240 -93.629960    BrkSide        BrkSide   1021 RIDGEWOOD AVE
2620  42.023035 -93.673386    Edwards        Edwards        3619 MARY CIR
2621  42.028112 -93.607153    Crawfor        Crawfor  2140 SUNSET DR 2142
2622  42.021328 -93.685522    CollgCr        CollgCr    5319 CLEMENS BLVD
2623  42.034612 -93.683248    SawyerW        SawyerW      1025 VERMONT CT

[2624 rows x 5 columns]