In [47]:
import pandas as pd

In [55]:
df = pd.DataFrame({"time_stamp": ["2011-12-31", "2011-12-31", "2011-12-31", "2011-12-30", "2011-12-29"], 
                 "user_id" :[678, 890, 567,123, 111], 
                 "equipment" : ["mobile", "mobile", "desktop", "desktop", "mobile"]})

In [56]:
df = df[df["equipment"]=="mobile"]

In [57]:
df["time_stamp"] = pd.to_datetime(df["time_stamp"])

In [58]:
df = df.groupby(["user_id","time_stamp"]).count().reset_index()

In [59]:
df = df[["user_id", "equipment"]]

In [60]:
df.rename(columns={"equipment":"day_count"}, inplace=True)

In [61]:
df

   user_id  day_count
0      111          1
1      678          1
2      890          1