In [2]:
from sklearn import neighbors
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Loading file that has the shoerthand names of neighborhoods 
#matched with their full form names

full_name = pd.read_csv('full_name_map.csv')
full_name.drop('Unnamed: 2', axis = 1, inplace = True)
full_name

   Short_hand                              Full_Name
0     Blmngtn                    Bloomington Heights
1     Blueste                               Bluestem
2      BrDale                              Briardale
3     BrkSide                              Brookside
4     ClearCr                            Clear Creek
5     CollgCr                          College Creek
6     Crawfor                               Crawford
7     Edwards                                Edwards
8     Gilbert                                Gilbert
9      IDOTRR                 Iowa DOT and Rail Road
10    MeadowV                         Meadow Village
11    Mitchel                               Mitchell
12      Names                             North Ames
13    NoRidge                             Northridge
14    NPkVill                        Northpark Villa
15    NridgHt                     Northridge Heights
16     NWAmes                         Northwest Ames
17    OldTown                               Old Town
18      SWISU  South & West of Iowa State University
19     Sawyer                                 Sawyer
20    SawyerW                            Sawyer West
21    Somerst                               Somerset
22    StoneBr                            Stone Brook
23     Timber                             Timberland
24    Veenker                                Veenker

In [4]:
import geopy
from geopy import Nominatim
from geopy import Point
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Photon


#using geopy to get the longitude/latitude of the neighborhoods by names
locator = Photon(user_agent="myGeocoder")

geocode = RateLimiter(locator.geocode, min_delay_seconds=1.5)
locations = [geocode(neighborhood + ', Ames, Iowa, USA',\
                         location_bias=Point(42.049586,-93.645204)) if type(neighborhood)==str \
                          else None for neighborhood in full_name.Full_Name]

In [5]:
lats = [location.latitude if location != None else None for location in locations] 
longs = [location.longitude if location != None else None for location in locations] 
full_name['lat'] = lats
full_name['long'] = longs

In [6]:
full_name

   Short_hand                              Full_Name        lat       long
0     Blmngtn                    Bloomington Heights  42.060088 -93.639196
1     Blueste                               Bluestem  42.011155 -93.645069
2      BrDale                              Briardale  42.052277 -93.628373
3     BrkSide                              Brookside  42.028240 -93.629960
4     ClearCr                            Clear Creek        NaN        NaN
5     CollgCr                          College Creek  42.021328 -93.685522
6     Crawfor                               Crawford  42.028112 -93.607153
7     Edwards                                Edwards        NaN        NaN
8     Gilbert                                Gilbert        NaN        NaN
9      IDOTRR                 Iowa DOT and Rail Road        NaN        NaN
10    MeadowV                         Meadow Village        NaN        NaN
11    Mitchel                               Mitchell  42.029834 -93.629135
12      Names                             North Ames  42.042844 -93.634567
13    NoRidge                             Northridge  42.052529 -93.654431
14    NPkVill                        Northpark Villa        NaN        NaN
15    NridgHt                     Northridge Heights  42.059810 -93.654790
16     NWAmes                         Northwest Ames  42.048347 -93.626530
17    OldTown                               Old Town  42.033237 -93.617133
18      SWISU  South & West of Iowa State University        NaN        NaN
19     Sawyer                                 Sawyer  42.033924 -93.676648
20    SawyerW                            Sawyer West        NaN        NaN
21    Somerst                               Somerset  42.049586 -93.645204
22    StoneBr                            Stone Brook  42.059174 -93.632730
23     Timber                             Timberland  42.000213 -93.650491
24    Veenker                                Veenker  42.041426 -93.647364

In [7]:
#geopy was not able to find all the nieghborhoods, so
#for the ones it was not able to find, 
#I used google maps and realtor.com
# to get the rest of the longs and lats


#Not sure how to handle the remaining 2 columns with NA's yet...


edwards = [42.023035, -93.673386]
gilbert = [42.059931, -93.642827]
meadow_village = [41.991757, -93.603347]
npv = [42.050438, -93.625852]
sawyer_west = [42.034612, -93.683248]
clear_creek_north = [42.059993, -93.628263]
        
full_name.at[full_name['Short_hand'] == "Edwards",'lat'] = edwards[0]
full_name.at[full_name['Short_hand'] == "Edwards",'long'] = edwards[1]
            
full_name.at[full_name['Short_hand'] == "Gilbert",'lat'] = gilbert[0]
full_name.at[full_name['Short_hand'] == "Gilbert",'long'] = gilbert[1]

full_name.at[full_name['Short_hand'] == "MeadowV",'lat'] = meadow_village[0]
full_name.at[full_name['Short_hand'] == "MeadowV",'long'] = meadow_village[1]

full_name.at[full_name['Short_hand'] == "NPkVill",'lat'] = npv[0]
full_name.at[full_name['Short_hand'] == "NPkVill",'long'] = npv[1]

full_name.at[full_name['Short_hand'] == "SawyerW",'lat'] = sawyer_west[0]
full_name.at[full_name['Short_hand'] == "SawyerW",'long'] = sawyer_west[1]

full_name.at[full_name['Short_hand'] == "ClearCr",'lat'] = clear_creek_north[0]
full_name.at[full_name['Short_hand'] == "ClearCr",'long'] = clear_creek_north[1]




full_name

   Short_hand                              Full_Name        lat       long
0     Blmngtn                    Bloomington Heights  42.060088 -93.639196
1     Blueste                               Bluestem  42.011155 -93.645069
2      BrDale                              Briardale  42.052277 -93.628373
3     BrkSide                              Brookside  42.028240 -93.629960
4     ClearCr                            Clear Creek  42.059993 -93.628263
5     CollgCr                          College Creek  42.021328 -93.685522
6     Crawfor                               Crawford  42.028112 -93.607153
7     Edwards                                Edwards  42.023035 -93.673386
8     Gilbert                                Gilbert  42.059931 -93.642827
9      IDOTRR                 Iowa DOT and Rail Road        NaN        NaN
10    MeadowV                         Meadow Village  41.991757 -93.603347
11    Mitchel                               Mitchell  42.029834 -93.629135
12      Names                             North Ames  42.042844 -93.634567
13    NoRidge                             Northridge  42.052529 -93.654431
14    NPkVill                        Northpark Villa  42.050438 -93.625852
15    NridgHt                     Northridge Heights  42.059810 -93.654790
16     NWAmes                         Northwest Ames  42.048347 -93.626530
17    OldTown                               Old Town  42.033237 -93.617133
18      SWISU  South & West of Iowa State University        NaN        NaN
19     Sawyer                                 Sawyer  42.033924 -93.676648
20    SawyerW                            Sawyer West  42.034612 -93.683248
21    Somerst                               Somerset  42.049586 -93.645204
22    StoneBr                            Stone Brook  42.059174 -93.632730
23     Timber                             Timberland  42.000213 -93.650491
24    Veenker                                Veenker  42.041426 -93.647364