In [1]:
import pandas as pd
import numpy as np

In [41]:
data = pd.read_csv('./../../data/Ames_Housing_Price_Data.csv')

In [42]:
len(raw.columns)

82

In [29]:
import matplotlib.pyplot as plt
import pandas as pd
from pandas.table.plotting import table # EDIT: see deprecation warnings below

ax = plt.subplot(111, frame_on=False) # no visible frame
ax.xaxis.set_visible(False)  # hide the x axis
ax.yaxis.set_visible(False)  # hide the y axis

table(ax, df)  # where df is your data frame

plt.savefig('mytable.png')

ModuleNotFoundError: No module named 'pandas.table'

In [30]:
raw_null_count = raw[raw.columns[raw.isnull().any()]].isna().sum().to_frame()\
.reset_index().rename(columns = {'index':'Feature',0 : 'Null Count'})

In [32]:
import dataframe_image as image

In [35]:
image.export(raw_null_count,'raw_null_count.pdf')

In [38]:
raw_null_count[15:]

         Feature  Null Count
15  BsmtHalfBath           2
16   FireplaceQu        1241
17    GarageType         127
18   GarageYrBlt         129
19  GarageFinish         129
20    GarageCars           1
21    GarageArea           1
22    GarageQual         129
23    GarageCond         129
24        PoolQC        2571
25         Fence        2055
26   MiscFeature        2483

In [46]:

#Replace most N/A values with none and MasVnrType and Electrical with the mode.
categorical_list = ['Alley', 'BsmtQual', 'BsmtExposure', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish',
                    'PoolQC', 'Fence', 'MiscFeature', 'BsmtCond', 'BsmtFinType1', 'BsmtFinType2', 'GarageQual',
                    'GarageCond']

numerical_list = ['MasVnrArea', 'BsmtFullBath','BsmtHalfBath','BsmtFinSF1','BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF',
                  'GarageCars', 'GarageArea']

data['MasVnrType'].fillna(data['MasVnrType'].mode()[0], inplace = True)
data['Electrical'].fillna(data['Electrical'].mode()[0], inplace = True)

for el in categorical_list:
    data[el].fillna('None', inplace = True)

for el in numerical_list:
    data[el].fillna(0, inplace = True)


    
#402.88 is the ratio of LotArea/LotFrontage for all lot areas > 20,000 to fill in N/A values that did not have
#another value in their lotfrontage bucket.
# data_new['LotFrontage'].fillna(data_new['LotArea']/402.88, inplace = True)


#This one house had a garage type listed but all other garage features were NaN
data.at[data['PID'] == 910201180, 'GarageType'] = 'None'

In [47]:
cleaned_null_count = data[data.columns[data.isnull().any()]].isna().sum().to_frame()\
.reset_index().rename(columns = {'index':'Feature',0 : 'Null Count'})

In [48]:
cleaned_null_count

       Feature  Null Count
0  LotFrontage         462